{% extends "layout.html" %}
{% block body %}
    
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12  col-sm-12">
      <h2 style="text-align: center; color:#00AFC9"><b>Hakkımızda</b></h2>
    </div>
  </div>

<br>
   <div class="row">
    <div class="col-md-9">
      <h3>Tarihçe</h3>
      <p>Özel Yaşam Hastanesi, 28 Ekim 1995 yılında kurulmuş ve 3 Ağustos 1999 yılında aldığı Özel Hastane Faaliyet İzin Belgesi ile İstanbul, Pendik ilçesinde hizmet vermeye başlamıştır. 116 yatak kapasitesi ile 6500 m2’lik bir alanda 8 branşta 15 hekim ile hizmet vermeye başlayan Özel Yaşam Hastanesi, misyon ve vizyonu çerçevesinde varlığını devam ettirmiş, ulusal ve uluslararası alanda hizmetlerini  genişletmek amacı ile kapasitesini yeni uzmanlık dalları ve cihaz teknolojileri ekleyerek geliştirmiştir.</p>
    </div>


    <div class="col-md-3  col-sm-12">
      <img class="img-thumbnail" src="{{ url_for('static', filename = 'image/saglik-4.jpg') }}">
    </div>
    
  </div>
    <br>
    <br>

  <div class="row">

    <div class="col-md-3  col-sm-12">
      <img class="img-thumbnail" src="{{ url_for('static', filename = 'image/saglik-2.jpeg') }}">
    </div>

    <div class="col-md-9">
      <br>
      <h3>Vizyonumuz Ve Misyonumuz</h3>
      <p>Kızılay’ın olağan durumlarda topluma sunduğu sağlık hizmetinin etkin bir şekilde yürütülmesi ve geliştirilmesi.
      Genel Merkeze ve Şube Başkanlıklarımıza bağlı Tıp Merkezleri/Hastanelerde sağlık hizmeti verilmesinde toplumun tüm kesimlerine ulaşmak ve toplumdan gelen taleplere cevap verebilecek  yapıyı  sağlamak, sağlıktaki gelişmeleri yakından takip etmek.Tıp etiği ve bilimsel kurallardan ödün vermeden, kaynakları en etkin ve verimli şekilde kullanarak,kalite yönetim sistem şartları çerçevesinde,eğitimli güler yüzlü,bilgili ve deneyimli ekiplerle güvenilir sağlık hizmeti sunmaktadır. </p>
    </div>
  </div>
    <br>
    <br>

  <div class="row">
    
    <div class="col-md-9  col-sm-12">
      <h3>Kalite Ve Şikayet Politikamız</h3>
      <p>Gelişmiş tıbbi donanım ve eğitimli personel ile hastalarımızın kendini güvende hissedebileceği, hasta haklarına saygılı bir ortamda, bilgili, güler yüzlü özveri ile çalışan uzman kadromuzla; kaliteden ödün vermeden modern teşhis ve tedavi yöntemlerini kullanarak, hasta çalışan memnuniyetini ön planda tutarak, hasta odaklı yaklaşım benimseyerek şikayetleri mali yükümlülük getirmeden inceleyen, yasal mevzuatlar çerçevesinde sürekli iyileşen ve gelişen bir sağlık hizmeti sunmaktır.</p>
    </div>

    <div class="col-md-3  col-sm-12">
      <img class="img-thumbnail" src="{{ url_for('static', filename = 'image/saglik-3.jpg') }}">
    </div>
  </div>
  <br>
  <br>

 
  
</div>





<br><br><br><br><br><br><br>
<!--FOOTER TASARIM KODU-------------------->
<footer class="page-footer" >
  <div class="container" >
      <div class="row">

         <div id="footer-yazi" class="col-md-4 col-sm-12">
            <br> 
            <h5 style="text-decoration:underline;"><strong>HASTANEMİZ</strong></h5>
            <hr>
            <p><a style="color:white;" href="/birimlerimiz">TIBBİ BİRİMLER</a></p>
            <p><a style="color:white;" href="/doktorlarimiz">DOKTORLARIMIZ</a></p>
            <p><a style="color:white;" href="/randevual">E-RANDEVU</a></p>
      </div>	


      <div id="footer-yazi" class="col-md-4 col-sm-12">
          <br>
            <h5 style="text-decoration:underline;"><strong>HASTA REHBERİ</strong></h5>
            <hr>
            <p><a style="color:white;" href="/hastahaklari">HASTA HAKLARI</a></p>
            <p><a style="color:white;" href="/hastasorumluluklari">HASTA SORUMLULUKLARI</a></p>
            <p><a style="color:white;" href="/refakatcikurallari">REFAKATÇİ KURALLARI</a></p>
            <p><a style="color:white;" href="/ziyaretcikurallari">ZİYARETÇİ KURALLARI</a></p>

      </div>


      <div id="footer-yazi" class="col-md-4 col-sm-12" >
          <br>
            <h5 style="text-decoration:underline;"><strong>BİZE ULAŞIN</strong></h5>
            <hr>
            <p><img src="{{ url_for('static', filename = 'image/location.png') }}" />Adres: Dumlupınar Mahallesi, Gözdağı Cd. Pendik/İstanbul</p>
            <p><img src="{{ url_for('static', filename = 'image/phone.png') }}" />0216 368 75 24</p>
            <p><img src="{{ url_for('static', filename = 'image/phone.png') }}" />0216 368 75 25</p>
      </div>
  </div>


</footer>

<!-- Jumbotron -->
<div class="jumbotron" style="margin-bottom: 0; height: 10px;">
<h5 style="color: #00AFC9;"><center>Tüm Hakları Saklıdır &copy2020 </center></h5>
</div>
<!-- Jumbotron Son -->
</body>            
{% endblock %}